/* SunnyMoon Weather App project css style */

/* Container */
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-size: 14px;
    line-height: 1;
}

header {
    font-size: 30px;
    font-weight: normal;
    color: #BBDEFB;
    background-color: #0D47A1 ;
    text-align: center;
    padding: 20px;
}


/* Search city */
#sideNavigation {
    height: 100%; 
    position: fixed;
    left: 0;
    background-color: #BBDEFB;
}

h1 {
    font-size: 20px;
    text-align: left;
    padding: 20px 0px 10px 5px;
}

#basic-text {
    background-color: #0D47A1;
}

.fa {
    color: white;
}

/* 1-day forecast */

/* 5-day forecast */

/* Media Queries */