/* SunnyMoon Weather App project css style */

/* Container */
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-size: 14px;
    line-height: 1;
    align-content: center;
    margin: 40px;
}

header {
    font-size: 30px;
    font-weight: normal;
    color: #BBDEFB;
    background-color: #0D47A1 ;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
}

.container-forecast {
    width: 100%;
    padding-top: 20px;
    clear: both;
    float: right;
    background-color: lightgrey;
    border-radius: 6px;
}

/* Search city */
#sideNavigation {
    height: 100%; 
    position: relative;
    left: 0;
    background-color: #BBDEFB;
    height: auto;
    min-height: 150px;
    border-radius: 6px;
    padding-bottom: 50px;
}

h1 {
    font-size: 20px;
    color: #0D47A1;
    text-align: left;
    padding: 20px 0px 10px 5px;
}

#basic-text {
    background-color: #0D47A1;
}

.fa {
    color: white;
}

/* 1-day forecast */

/* 5-day forecast */

/* Media Queries */